<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!-- 数据库的链接信息 -->
    <context id="ssm" targetRuntime="MyBatis3">
        <commentGenerator>
            <!-- 生成的代码和xml不要注释 -->
            <property name="suppressAllComments" value="true" />
        </commentGenerator>
        <!-- 连接数据库 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/ssm_practice"
                        userId="root"
                        password="123456"/>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <!-- bean的配置 -->
        <javaModelGenerator targetPackage="top.gn.ssm.bean"
                            targetProject="./src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>
        <!-- 配置 xml 文件-->
        <sqlMapGenerator targetPackage="top.gn.ssm.xml" targetProject="./src/main/java">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>
        <!-- 配置 接口文件 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="top.gn.ssm.dao"
                             targetProject="./src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <table tableName="employment" domainObjectName="Employment"/>
        <table tableName="department" domainObjectName="Department"/>
    </context>




</generatorConfiguration>